* {
    margin: 0px;
    padding: 0px;
    font-size: large;
    font-weight: bold;
    
}
  


  

  
.navbar-brand{
    margin-right: 30rem;
}
  
section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 60% 20%;
        grid-template-columns: 20% 60% 20%;
}
  
section #Info_Cont1 {
    padding: 20%;
}
  
section #array_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 68vh;
    margin-top: -3rem;
}
  
section #Info_Cont2 {
    padding: 20%;
}
  
.hide {
    display: none;
}
  
/* footer{
    background: #020024;
    padding: 20px 33px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: #5ce1e6;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
} */



  
/*
  @media (max-width: 480px)//Mobiles
  {
      
  }
  
  @media (min-width: 481px) and (max-width: 1250px)//Tablets
  {
  
  }
  
  @media (min-width: 1251px)//Laptops and up
  {
  
  }
  */
